body {
  background: #FEFAEC; }

#Information {
  width: 100%;
  height: 200px;
  border: 1px dashed cadetblue;
  border-top: none;
  background: #fefaec; }
  #Information p {
    border: 1px solid #ccc;
    border-right: none;
    padding-left: 3%;
    width: 97%;
    height: 40px;
    line-height: 42px;
    display: inline-block;
    background: #f2f2f2;
    float: left;
    color: #515151;
    font-size: 14px; }
    #Information p span {
      display: inline-block; }
    #Information p input {
      width: 15px;
      height: 15px; }

#inforList {
  width: 100%;
  height: 82px; }
  #inforList .labelImg {
    margin-left: 3%; }
  #inforList .Pinfor {
    margin-left: 10px;
    display: inline-block;
    width: 125px;
    font-size: 14px;
    color: #515151; }
  #inforList .price {
    color: darkred;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-left: 20px; }
  #inforList .integal {
    color: darkred;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-left: 40px; }
  #inforList #minus, #inforList #plus {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px; }
  #inforList #text {
    width: 40px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px; }
  #inforList .txt {
    width: 100px;
    margin-left: 30px; }
  #inforList .select {
    margin-left: 60px;
    width: 15px;
    height: 15px; }
  #inforList .delete {
    margin-left: 50px; }

.count {
  font-size: 16px;
  margin-top: 20px; }

.oaccount {
  width: 65px;
  height: 35px;
  background: orangered;
  color: #fff;
  display: inline-block; }

#cakeList {
  width: 100%;
  min-height: 400px; }
  #cakeList ul li {
    float: left;
    width: 33%;
    height: 380px;
    position: relative;
    overflow: hidden; }
    #cakeList ul li .shopping {
      width: 312px;
      height: 100px;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      margin-left: -18px;
      bottom: -300px; }
      #cakeList ul li .shopping ul li {
        width: 77px;
        height: 50px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        float: left;
        color: #fff;
        text-align: center;
        line-height: 50px; }
      #cakeList ul li .shopping li:hover a {
        color: orangered; }
      #cakeList ul li .shopping em:hover a, #cakeList ul li .shopping i:hover a {
        color: orangered; }
      #cakeList ul li .shopping i:hover a {
        color: orangered; }
      #cakeList ul li .shopping em, #cakeList ul li .shopping i {
        display: inline-block;
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        color: #fff; }
  #cakeList dl {
    width: 29%;
    height: 480px;
    float: left;
    padding: 10px; }
  #cakeList dd {
    width: 20%;
    height: 300px;
    margin-left: 2px; }
  #cakeList dt {
    width: 300px;
    height: 70px;
    margin-left: 18px;
    color: #B2ACA3;
    position: relative;
    border-bottom: 1px dashed #B2ACA3; }
    #cakeList dt .pleft, #cakeList dt .pright {
      display: inline-block;
      width: 130px;
      height: 48px;
      text-align: center;
      float: left;
      font-size: 14px;
      margin-top: 20px; }
    #cakeList dt .pright {
      margin-left: 40px; }
      #cakeList dt .pright i {
        color: red; }

#banner {
  width: 100%; }
  #banner img {
    width: 103%; }

#founder {
  margin-left: 10px;
  width: 100%; }

/*# sourceMappingURL=flow.css.map */
