a {
  text-decoration: none; }

body {
  background: #fbe7e8; }

#login {
  width: 98%;
  height: 97px;
  margin: 0 auto;
  border-bottom: 3px solid orangered;
  border-top: 1px solid #C2AF6B;
  color: #fff;
  background: #fefcec; }
  #login p {
    background: orangered;
    width: 165px;
    margin-left: 20px;
    border-radius: 8px; }
  #login img {
    float: left;
    margin-top: -8px; }
  #login i {
    display: inline-block;
    margin-top: -8px;
    height: 35px;
    line-height: 60px;
    font-size: 14px;
    margin-left: 3px; }
  #login #enter {
    background: orangered;
    width: 115px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    line-height: 30px; }

#register, #register2 {
  width: 98%;
  height: 391px;
  background: #fefcec;
  border-bottom: 1px dashed goldenrod;
  margin: 0 auto;
  overflow: hidden; }
  #register .registerLeft, #register2 .registerLeft {
    width: 49%;
    float: left;
    height: 360px;
    padding-top: 3%; }
    #register .registerLeft p, #register2 .registerLeft p {
      display: inline-block;
      width: 30%;
      height: 30px;
      text-align: right;
      font-weight: bold;
      font-size: 14px; }
    #register .registerLeft input, #register2 .registerLeft input {
      width: 57%;
      height: 30px;
      margin-left: 15px; }
    #register .registerLeft span, #register2 .registerLeft span {
      display: block;
      font-size: 14px;
      color: red;
      width: 60%;
      height: 25px;
      text-align: left;
      margin-left: 32%; }
    #register .registerLeft .replace, #register2 .registerLeft .replace {
      width: 35%; }
    #register .registerLeft .reptxt, #register2 .registerLeft .reptxt {
      width: 13%;
      height: 30px;
      display: inline-block;
      background: #CFA972;
      margin-left: 10px;
      text-align: center;
      line-height: 30px;
      color: #fff; }
    #register .registerLeft .repbtn, #register2 .registerLeft .repbtn {
      width: 11%;
      height: 25px;
      margin-left: 5px; }
    #register .registerLeft label, #register2 .registerLeft label {
      font-size: 14px;
      margin-left: 30%; }
    #register .registerLeft #check, #register2 .registerLeft #check {
      width: 15px;
      height: 15px;
      background: #CFA972; }
    #register .registerLeft .logbtn, #register2 .registerLeft .logbtn {
      width: 23%;
      height: 40px;
      background: orangered;
      color: #fff;
      display: inline-block;
      margin-left: 30%;
      border-radius: 7px;
      font-size: 16px; }
    #register .registerLeft a, #register2 .registerLeft a {
      color: #0561aa;
      margin-left: 20px;
      font-size: 14px; }
    #register .registerLeft #problem, #register2 .registerLeft #problem {
      color: slategray;
      width: 90%;
      margin-top: 20px;
      font-weight: normal;
      font-size: 14px; }
  #register .registerRight, #register2 .registerRight, #register2 .registerRight2 {
    width: 50%;
    float: left;
    height: 335px;
    padding-top: 45px;
    border-left: 1px solid #aaa; }
    #register .registerRight p, #register2 .registerRight p, #register2 .registerRight2 p {
      color: #8f8f9f;
      font-size: 14px;
      width: 80%;
      height: 30px;
      line-height: 30px;
      margin-left: 30px; }
    #register .registerRight .regbtn, #register2 .registerRight .regbtn, #register2 .registerRight2 .regbtn {
      width: 18%;
      height: 30px;
      background: orangered;
      color: #fff;
      display: inline-block;
      margin-left: 30px;
      border-radius: 3px;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      margin-top: 0px; }
    #register .registerRight img, #register2 .registerRight img, #register2 .registerRight2 img {
      margin-top: 30px; }

#register2 {
  height: 480px; }
  #register2 .registerRight2 {
    height: 425px; }
    #register2 .registerRight2 img {
      margin-top: 100px; }
  #register2 .regRight {
    width: 50%;
    float: left;
    height: 233px;
    border-left: 1px solid #aaa; }
  #register2 .gainRep {
    width: 57%; }
  #register2 .gain {
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 78px;
    background: #8F8F9F;
    left: 360px;
    line-height: 30px; }
    #register2 .gain a {
      color: #fff; }

#banner {
  width: 100%;
  height: 500px; }

#oImg {
  margin: 0 auto; }
  #oImg img {
    margin-left: 10px; }

/*# sourceMappingURL=landing.css.map */
