@charset "utf-8";
$fontsize:20px;
$bodywidth:100%;
$border:1px solid #fcc;
*{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}
a{
    color:#fff;
    text-decoration:none;
}
#banner{
    height:334px;
    width:100%;
    position:relative;  
    width:$bodywidth;
    margin:0 auto; 
    position:relative; 
    color:#000;
    .bannerleft{
        width:19%;
        height:333px;      
        float:left;
        img{
            width:100%;
        }
        .eatcake{
            position:absolute;
            left:200px;
            z-index:10; color:#000;
            top:30px;
            display:none;
        }
        .eatcake li{
            background:rgba(10,10,10,0.2);
            border-bottom:1px #fff dashed;
            height:30px;
            width:80px;
          
        }
        .timecake{
            @extend .eatcake;
           
            top:130px;
          
        }
         
    }
    #happle{
        width:80.3%;
        height:333px;      
    }
    #happle:hover{
        transform: translateX(5PX);
    }
}

#cakelist{
    width:$bodywidth;
    height:350px;  
    overflow: hidden;
   background:#fefaec;
   margin-left:0px; 
    dl{
        width:29%;
        height:250px;
        float:left;
        margin-left:0px; 
      padding:10px;
    }
    dd{
        width:300px;
        height:250px;       
        margin-left:-5px;
    }
    dl:hover dd{
        transform: translateX(4px);
    }
    dt{
        width:300px;
        height:70px;           
        margin-left:18px;
        color:#B2ACA3;
        position:relative;
        border-bottom:1px dashed #B2ACA3;
        .pleft{
            display:inline-block;
            width:130px;
            height:48px;
            text-align:center;                 
            float:left;
            font-size:14px;
            margin-top:20px;
        }
        .pright{
            @extend .pleft;
            i{
                color:red;
            }
            margin-left:40px;
            
        }
    }
    .shopping{
        width:312px;
        height:100px;     
        background:rgba(0,0,0,0.8);
        position:absolute;        
        bottom:-260px;
        left:-26px;
        ul li{
            width:76px;
            height:50px;
            border:1px solid #fff;
            float:left;
            color:#fff;
            text-align:center;
            line-height:50px;
        }
        em{
            display:inline-block;
            width:130px;
            height:50px;           
            text-align:center;
            line-height:50px;
            font-size: 14px;
            color:#fff;
        }
        i{
           @extend em;
        }
    }
    .shopping1{
       @extend .shopping;
    }
    .shopping2{
        @extend .shopping;
    }
    #odd{
        margin-left:0px;
    }
    #odd1{
        margin-left:28px;
     
    }
    #odd2{
        margin-left:25px;
       
    }
    
}
#cakelistwo{
   @extend #cakelist;
}


