@charset "utf-8";
$fontsize:25px;
$bodywidth:100%;
$fontcolor:#fff;
$border:1px solid #fcc;
ul li{
    list-style: none;
}
a{
    text-decoration:none;
    color:$fontcolor;
}
*{
    margin:0;
    padding:0;
}

#header{
    width:$bodywidth;
    font-size:$fontsize;
    height:100px;
    border:$border; 
    background:#c8bb9b;
    color:$fontcolor;  
    ul{       
        heigth:80px;
        margin-top:10px;
        li{
            float:left;
           
            width:197px;
          
            text-align:center;
            line-height:40px;
            p{
                font-size:14px;
            }
            img{
                width:308px;
                height:80px;
            }
        }
    }
}
#enter{
    width:98.4%;
    font-size:16px;
    height:100px;
    border:$border; 
    background:#fefaec;
    color:$fontcolor;  
    padding-left:25px;
    .dashed{
        border:{
            bottom:1px dashed #b2aca3;
        }
        height:42px;
        
    }
    .city{
        width:100px;
        height:35px;
        color:$fontcolor;
        background:#cfa972;
        border-radius:7px;
        text-align:center;
        line-height:35px;
        margin-left:20px;
        margin-top:3px;
        display:inline-block;
    }
    .seaver{
        width:600px;
        height:40px;
        color:red;
        font-size:23px;
        display:inline-block;
        margin-left:30px;
    }
    .shoppingcay{
        width:330px;
        height:40px;
        color:red;
        font-size:23px;
        display:inline-block;
        margin-left:350px;
        
    }
    .useradvice{
        color:red;
        font-size:23px;
        height:48px;
        line-height:48px ;
    }
}
#wrap{
    height:344px;
    width:1505px;
    position:relative;
    left:0;
    top:0px;
    width:$bodywidth;
    height:500px;
    margin:0 auto;
    border:1px solid #fcc;  
    overflow: hidden;
}
#timecard{
    width:$bodywidth;
    height:540px;
    border:$border;
    position: relative;
    background: #f8e8e8 ;
    overflow: hidden;
    .time1{
        width:31%;
        height:500px;
        float:left;
        padding:16px;
        img{
            width:100%;
            height:250px;
        }
       
    }
    .time2{
       @extend .time1;
    }
    .time3{
       @extend .time1;
    }
    #leftImg{
        margin-left:16px;
        width:969px;
        height:540px;
        position:absolute;
        top:16px;
        left:-1000px;
    }
    #centerImg{
        margin-left:16px;
        width:488px;
        height:520px;
        position:absolute;
        top:-560px;
        left:488px;
    }
    #rightImg{
        margin-left:16px;
         width:980px;
        height:540px;
        position:absolute;
        top:16px;
        right:-1000px;
    }
    
}
