@charset "utf-8";
$fontsize:20px;
$bodywidth:100%;
$fontcolor:#fff;
$border:1px solid #fcc;
*{
    margin:0;
    padding:0;
}
body{
    background:#fefcec;
}
img{
    border:none;
}

#sweetHeater{
    font-size: 18px;
    color:gray;
    margin-left:30px;
    width:96%;
    margin:0 auto;
    border-bottom:1px dashed #AAA;
}
#imgNotice{
    width:96%;
    margin:0 auto;
    margin-left:10%;
}
#banner{
    width:96%;
    margin:0 auto;
//  margin-left:35px;
    overflow: hidden;
}
#banner:hover img{
    transform: scale(1.7,1.7);
}
#thing{
    width:96%;
    margin:0 auto;
    min-height:100px;
    
    .left{
        width:47%;  
        border:1px solid #AAA;
        height:100px;
        float:left;     
        p{
             background:#aaa; 
             height:40px;
             line-height:40px;
             padding-left:25px;
        }
        span{
            margin-left:20px;
            font-size: 14px;
        }
    }
    .right{
        @extend .left;
        margin-left:5.5%;
    }
    
}
#idea{
    width:96%;
    height:720px;
    overflow: hidden;
    margin:0 auto;
    background:rgba(10,10,10,0.1);
        .ideaLeft{
            width:26%;
            height:720px;       
            float:left;  
            ul{
                margin-left:30px;
                margin-top:50px;
            }  
            li{
                list-style: none;
                width:110px;
                height:30px;
                color:#666;
                margin-left:30px;
                margin-top:10px;
                border-bottom:1px dashed #000;
            }
            a:hover li{
                color:#FF4500;
            }
        }
        .ideaRight{
            width:71%;
            height:720px;        
            float:left;
            margin-left:5.5px; 
            background:#fff;
            font-size: 14px; 
            padding-left:2%;  
            padding-right:4px;
            padding-top:10px;
        }
}
#bannerImg{
    width:99%;
    padding:10px;
    height:350px;
    img{
        margin:-3px;
    }
   
    margin:0 auto;
}
#addCompany{
    width:89%;
    height:400px;        
    margin:0 auto;
    background: #dfd0b3;
    padding:5%;
    img{
        margin:50px;
    }
    p{
        width:180px;
        height:50px;
        font-size: 18px;
        position:absolute;
        right:60px;
        color:#666;
    }
    a:hover p{
        color:brown;
         
    }
}
#box{
    width:500px;
    height:165px;
   border:2px solid orangered;
   position:absolute;
   top:200px;
   left:260px;
  
   .car{
        width:91.9%;
        height:35px;
        display:inline-block;      
        float:left;
        background:orangered;
        line-height: 35px;
        color:#fff;
   }
   .close{
        width:8%;
        height:35px;
        display:inline-block;
        color:#fff;
        float:right;
        line-height: 35px;
        text-align:center;
        background:orangered;
        cursor: pointer;
   }
   dd{
       float:left;
   }
   dt{
       float:left;
       #minus,#plus{
                display:inline-block;
                width:20px;
                height: 20px;
                font-size: 12px;
            }
            #text{
                width:40px;
                height:20px;
                font-size: 14px;
                text-align:center;
                line-height:20px;
            }
            .goOn{
                width:70px;
                height:40px;
                background:#FF4500;
                display:inline-block;
                color:#fff;
                text-align:center;
                line-height:40px;
                margin-top:20px;
                 margin-left:50px;
                 cursor: pointer;
            }
            .account{
                @extend .goOn;
                margin-left:50px;
                cursor: pointer;
            }
   }
   
}
